.nav{
    height: 100px;
    width: 100%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    display: flex;
    color:rgb(175, 200, 32);
}
.div1{
    height: 100px;
    width: 120px;
    background-image: url("image.png");
    background-size: cover;
}
.cont{
    text-shadow: 2px 2px rgb(55, 135, 227);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    
}

.text{
    margin-left: 55%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(#eee, #333);
    /* font-size: 72px; */
    
}